<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'web:dashboard' %}">Stratis</a>
    </div>
    <ul class="nav">
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'web:species:create'%}">Nueva Especie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'web:species:animal-create'%}">Nuevo Ejemplar</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'web:species:all' %}">Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'web:species:carns' %}">Carnivoros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'web:species:herbs' %}">Herviboros</a>
      </li>
      {%if user.is_authenticated  %}
        <li class="nav-item">
          <a class="nav-link active" href="#">{{ user.get_full_name }}</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link active" data-toggle="modal" data-target="#logoutModal">Cerrar Sesión</button>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'web:auth:login' %}">Iniciar Sesión</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
